body {
  @include font;
  background-color: black;
  box-sizing: border-box;
}

#loading-gif{
    height: 5rem;
}

header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    #section{
      width: 8rem;
      margin: 2rem;
    }

    .logo{
      width: 12rem;
      padding: 2rem;
    }
}

#section, .logo, header p {@include header-flex}

footer p{
  color: #c2c2c2;
  text-align: center;
}
